<div class="container">
  <div class="row">
    <div class="col-md-10 mb-5">
      <div class="card">
        <div class="card-header">
          Kişisel Verilerin Korunması & Gizlilik Politikası
        </div>
        <div class="card-body">

            <p>Kişisel Verilerin Korunması ve Gizlilik Politikası
              bosanmavukatim.com olarak Kişisel Verilerinizin korunmasına önem verdiğimizi bu dalda mevzuata uygun önlem ve aşama kat ettiğimizi söylemek isteriz.
              Sitemizin değerli üyeleri,
              internet sitemizi giriş yapmak amacıyla ya da başka bir şekilde bizimle bağlantı tesis eden diğer gerçek kişilerin kişisel verilerinin korunması için gerekli hamleleri yapmakta olup, 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVK Kanunu") kapsamında kişisel verilerin işlenmesi ve çerez ve benzeri teknolojilerin kullanımı konusundaki Şirket kural ve uygulamaları hakkında sizleri aydınlatmak için iş bu Kişisel Verilerin Korunması ve Gizlilik Politikasını ("Gizlilik Politikası") hazırlamış olmaktayız.
              bosanmavukatim.com web sitesi ve mobil uygulamasında üye bilgilerinin gizliliği, korunması, işlenmesi, kullanımı, değiştirilmesi, iletişimler gibi konularda işbu sözleşmede yer alan gizlilik kurallarına tabi olacağınızı ve internet sayfamızı her giriş yaptığınızda şartları kabul ettiğinizden emin olmak için bu metne bakmanı gerektiğinizi söylemek isteriz.
              Veri elinde bulunduran olarak Şirketimiz ile veri sahibinin ilişki yapısına ve niteliğine göre, Şirketimiz tarafından veri sahibine iş bu yazıdan farklı kişisel veri tarzları ve/veya dönüt sağlanabilir. Böylece veri sahibine sağlanan söz konusu özel uygulama ve dönütlerde işbu Gizlilik Politikasında yer alan açıklamalardan farklı veya bu açıklamalara ek şartlar bulunabilir ve bilgi sahibi tarafından kendisine sağlanan özel politika ve bildirimlerin öncelikle dikkate alınması gerekmektedir.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Boşanma Avukatım Ekibi</cite></footer>

        </div>
      </div>
    </div>
  </div>
</div>
